/**
 * Custom base styles.
 */
[x-cloak] {
	display: none !important;
}

.screen-reader-text {
	@apply sr-only
}

.mnc-fluid-container {
    @apply px-4 md:px-8 xl:px-16;
}

.mnc-container {
    @apply 2xl:w-3/4 lg:w-[78rem] lg:max-w-full px-4 md:px-8 mx-auto;
}

.mnc-img-w-full {
    img {
        @apply w-full;
    }
}


body {
    @apply font-mono;
}